<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>현재 위치의 날씨 정보를 제공하기 위해 위치 서비스를 사용합니다.</string>
	<key>NSLocationUsageDescription</key>
	<string>현재 위치의 날씨 정보를 제공하기 위해 위치 서비스를 사용합니다.</string>
	<key>TeamIdentifier</key>
	<string>U9JJVCW82P</string>
	<key>CFBundleName</key>
	<string>menuCal</string>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
